.navi{
    width: 15em;
    background-color: rgb(197, 197, 197);
    float: left;
    
}

.st_1{
    
    background-color: grey;
    margin-bottom: 0.1em;
    overflow: hidden;
    margin left:15em;
}

.st_2{
   
    background-color: grey;
    margin-bottom:-0.9em;
    margin-left: 15em;
    overflow: hidden;
    margin-top: 0.2em;
}


.footer{
    background-color: grey;
    margin-top:1.2em;
}

}

.vstavka{height: 1em;}

.img{
    float: right;
    margin:1.5em;
}

.back{
    background-color: rgb(167, 163, 163);
}